code {
    font-family: Menlo, Monaco, Cascadia Mono, Consolas, "Courier New", monospace;
}

.copy-code {
    font-family:-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

.post-meta {
    margin-top: 5px;
}